@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #F28A15;
    font-family: var(--font-dm-sans), sans-serif;
  }
}

@layer utilities {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}